# Common Errors: Fall 2023

 ## 1. Putting an = sign between a function name and parentheses

In both function definitions and function calls, the function name should be followed immediately by the parentheses. Depending on the situation, you may get a syntax error, or it may compile and just not work as expected:

In [3]:
# Example 1
print = ("Hello, World")
print("Hello, World")

TypeError: 'str' object is not callable

In the example above, we get an error in line 3 when we try to call the print function correctly. Really, this issue came from line 2: since we put an = sign between print and ("Hello, World"), Python thought we were trying to create a new variable named *print* with the value "Hello, World" (a string). Therefore, we have essentially redefined print to be a string, so that when we get to line 3 the usual identity of print as a built-in function that prints things has been overwritten! Python says in this error: I don't know how to "call" a string, I can only call functions.

In [2]:
# Example 2
price = float(input = ("Enter price: "))

TypeError: float() takes no keyword arguments

In this second example, the error is telling us that we have given an invalid argument to the float function. Type conversion functions like float(), int(), and str() expect one value -- or an expression that evaluates to one value -- to be given as an argument which can be converted to this type. The correct syntax for examples like the second one above is as follows:

In [1]:
# Example 2 Solution
price = float(input("Enter price: "))

Enter price: 7.86

 ## 2. Invalid Naming

Review the rules listed in Chapter 1 for naming variables, parameters, and functions. For example: a name can’t start with a number, and can only include letters, numbers, or underscores (that means no spaces!).

In [3]:
1number = 8

SyntaxError: invalid syntax (1014192811.py, line 1)

In [4]:
my number = 8

SyntaxError: invalid syntax (219051246.py, line 1)

These first two are more straightforward -- numbers can't begin variable names, and we can't have spaces.

In [27]:
my-number = 8

SyntaxError: cannot assign to operator (2243359596.py, line 1)

In [5]:
number1&number2 = 81

SyntaxError: cannot assign to operator (997710516.py, line 1)

In these last two example where we tried to include the - or & symbols as part of our variable names, we get an error that says we can't assign this value to an operator. This is because the & means something specific in boolean logic (Chapter 5), and makes number1&number2 an expression. Similarly, in the example prior, Python thinks we are talking about an expression subtracting my-number. In short, we can't use any operators (mathematical or boolean) in our naming.

## 3. Parentheses in the Wrong Place or Missing in Function Call

Function names should be followed immediately by the parentheses with any arguments (if needed) inside. Remember that type conversions (using str(), float(), and int()) are function calls too, and work the same way!

In [7]:
# Example 1
age = (int) input("Enter age: ")

SyntaxError: invalid syntax (2152883771.py, line 2)

In [8]:
# Example 1 solution
age = int(input("Enter age: "))

Enter age: 93

In [10]:
# Example 2
print("Age: ") + input("Enter age: ")

Age:
Enter age: 56

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In this second example, Python thinks we were trying to add together two values: the result of calling print("Age: "), which would be of type "NoneType" since print returns None, and a string -- the resulting value from input("Enter age: "). Really, we were just trying to print these two things together:

In [11]:
# Example 2 solution
print("Age: " + input("Enter age: "))

Enter age: 56
Age: 56

In this last example below, we get a really clear error message if we don't put parentheses at all after the function name in a function call. In addition, the error message even gives us the fix. How nice!

In [5]:
# Example 3
print "Age: 56"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Age: 56")? (1945326512.py, line 2)

In [6]:
# Example 3
print("Age: 56")

Age: 56

## 4. Unmatched Parentheses or Quotations

If there is an extra parenthesis or quotation mark somewhere, we'll get an error that says there is a parenthesis that doesn't have a match (i.e., Unmatched ')'). Just like in math, parentheses must come in pairs.

In [15]:
# Example 1
x = (6+8) / 4)

SyntaxError: unmatched ')' (368227878.py, line 2)

If the extra parenthesis is a ')' like in the example above, we will get the "Unmatched ')'" error saying that there is a ) who doesn't correspond to any ( earlier on in the expression.

In [9]:
# Example 3
x = ("a" + "b"
y = 8

SyntaxError: invalid syntax (2734284848.py, line 3)

If the extra parenthesis is a '(' with no corresponding ')' later in the expression, the error will occur once it reaches the start of the next line without having found a matching closing parenthesis.

In [10]:
# Example 3
x = ("a" + "b"

SyntaxError: unexpected EOF while parsing (3346975007.py, line 2)

If the extra parenthesis is a '(' with no corresponding ')' later in the expression, **and** this occurs on the last line of the program, we'll get an error that says it reached the end of the file (abbreviated as EOF) unexpectedly without finding a ')'.

In all of cases, the solution is making sure all of our parentheses match up:

In [11]:
# Example 1 Solutions
x = ((6+8) / 4)
x = (6+8) / 4

# Example 2&3 Solutions
x = ("a" + "b")
x = "a" + "b"

## 5. Variable isn’t defined (or isn’t defined *yet*)

Variables must be defined *before* you use them.

In [18]:
x = z + 5
z = 10

NameError: name 'z' is not defined

In [19]:
# Solution
z = 10
x = z + 5

## 6. Quotations Surround Strings, but not Variable Names

Quotation marks around some series of characters denote whatever is inside the quotation marks as a string value. Quotations do not go around variable or parameter names: Python will think you are talking about a String value that is that variable name.

In [6]:
name = "Bruce"
print("Hello", "name")

Hello name

In the example above, we would *not* put parentheses around the variable name, name, in the print statement:

In [2]:
name = "Bruce"
print("Hello", name)

Hello Bruce

In contrast, we *do* need to put quotation marks around things we want to be treated as strings, or else Python will assume we are talking about a variable name:

In [3]:
favorite_team = input("What is your favorite team? ")

if favorite_team == Phillies:
    print("Go Phillies!")

What is your favorite team? Phillies

NameError: name 'Phillies' is not defined

In the above program, we got an error because we did not put quotations around the string "Phillies", so Python assumed that we were talking about a variable with this name (which does not exist). We can fix this as follows:

In [4]:
favorite_team = input("What is your favorite team? ")

if favorite_team == "Phillies":
    print("Go Phillies!")

What is your favorite team? Phillies
Go Phillies!

## 7. Literal Values or Operators in Function Header

You can’t have literal values or operators inside the parentheses in function headers – only parameter name(s), separated by commas if there are more than one.

In [3]:
# Example 1
def calc_sq_ft(length*width):
    area = length*width
    return area

SyntaxError: invalid syntax (1701039252.py, line 2)

In [5]:
# Example 2
def calc_sq_ft("length","width"):
    area = length*width
    return area

SyntaxError: invalid syntax (1763106480.py, line 2)

In [28]:
# Example 3
def calc_sq_ft(int(length),int(width)):
    area = length*width
    return area

SyntaxError: invalid syntax (3951048425.py, line 2)

In [4]:
# Solution
def calc_sq_ft(length,width):
    area = length*width
    return area

## 8. Avoid Naming New Functions the Name of a Built-in Function

While this may not produce an error, we want to avoid defining new functions with the same name as a built-in function. This is like overwriting the meaning of the built-in function, so we can no longer use it for that purpose.

In [20]:
def input(prompt):
    print("My new definition of input")
    
name = input("Enter name: ")

My new definition of input

In the example above, since we gave input a new function definition, we can no longer use the built-in version that asks users for input! As long as we avoid naming our new function *exactly* the same as a built-in function, we can have both:

In [1]:
# Solution
def new_input(prompt):
    print("My new definition of input")
    
name = input("Enter name: ")
new_name = new_input("Enter name: ")

Enter name: Emma
My new definition of input

## 9. Missing Operator

If we have two values next to each other with no operator connecting them, we'll get a syntax error.

In [8]:
hour = 5
minute = 15
time_string = "It is " hour ":" minute

SyntaxError: invalid syntax (2493147514.py, line 3)

Depending on the program, the solution (which operator you need) will be different. For example, in the program above, the intention was to concatenate the values:

In [1]:
hour = 5
minute = 15
time_string = "It is " + str(hour) + ":" + str(minute)

## 10. Not indenting the body of a function or conditional statement

A function header (the line that starts with def and ends with a colon) is not indented at all. However, all of the code that is a part of the function, a.k.a. the body of the function, or all of the code that you want to happen each time you call the function, must be indented under the function header.

In [12]:
def area_of_triangle(base, height):
area = base * height / 2
return area

IndentationError: expected an indented block (920871279.py, line 2)

We get the same error if we don't have any instructions indented under an if/elif/else:

In [46]:
answer = input("Would you like to hear the weather? ")

if answer == "Yes":
print("It's sunny outside.")
else:
print("Okay, no problem!")

IndentationError: expected an indented block (1679830920.py, line 4)

In [47]:
# Solution
answer = input("Would you like to hear the weather? ")

if answer == "Yes":
    print("It's sunny outside.")
else:
    print("Okay, no problem!")

Would you like to hear the weather? No
Okay, no problem!

## 11. Incorrect number of arguments

The number of arguments given in a function call should exactly match the number of parameters in the function header. If we give fewer arguments than the function was expecting, the error tells us that we are missing some arguments. Similarly, if we give more than expected, we will also get an error.

In [1]:
def area_of_triangle(base, height):
    area = base * height / 2
    return area

result = area_of_triangle(8)

TypeError: area_of_triangle() missing 1 required positional argument: 'height'

In [2]:
def area_of_triangle(base, height):
    area = base * height / 2
    return area

print(area_of_triangle(8,3,16))

TypeError: area_of_triangle() takes 2 positional arguments but 3 were given

In [4]:
# Solution
def area_of_triangle(base, height):
    area = base * height / 2
    return area

result = area_of_triangle(8, 3)
print(result)

12.0

## 12. Errors with import statements

Import statements, such as for importing the math module, must go on a separate line *before* we use anything from math. By convention, we always put import statements at the top of our whole program.

In [6]:
sq_rt_4 = import math math.sqrt(4)

SyntaxError: invalid syntax (1666326048.py, line 1)

In [7]:
sq_rt_4 = math.sqrt(4)
import math

NameError: name 'math' is not defined

In [9]:
# Solution
import math 
sq_rt_4 = math.sqrt(4)
print(sq_rt_4)

2.0

## 13. PEMDAS related issues

The order of operations (see lecture 1 content) comes into play in Python both in correctly evaluating mathematics expressions, as well as other types of expressions. For example, let's say we want to multiply a dash and a space twenty times (for a "dotted line" look). Notice how the following expressions are executed in the order of operations:

In [10]:
print('-' + ' ' * 20)

-

In [11]:
print(('-' + ' ') * 20)

- - - - - - - - - - - - - - - - - - - -

The first expression results in one dash followed by 20 spaces -- not what we intended. We can use parentheses in the second expression to get our desired effect.

## 14. Unsupported operand type(s)

This error is usually pretty explicit in what went wrong. We get this error as a result of trying to use some operand (i.e., +, -, *, /, //, %) with one or both of the values on either side being an invalid type. Recall that there are only two operands that we can use with 'sequence' types (like strings, which are sequences of characters): + for addition (concatenation) of two strings, and * for multiplication (repetition) of a string and an integer. If we try to subtract or divide a sequence, Python doesn't know how to do that and gives us an error.

In [13]:
print('Hello' - 'World')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [15]:
print('3' * 3.2)

TypeError: can't multiply sequence by non-int of type 'float'

In [20]:
print('3' / 3.2)

TypeError: unsupported operand type(s) for /: 'str' and 'float'

If you get this error unexpectedly because you were intending to do an operation between two numbers, make sure that you have used type conversion accordingly.

In [22]:
print('3' * int(3.8))

333

In [23]:
print(int('3') / 3.8)

0.7894736842105263

## 15. Parameters and variables created inside a function are not accessible outside the function

Recall how in a stack diagram, parameters of a function and any variables created inside the function are added to the function frame, not the global frame. This visually represents how these names only mean something inside the function – once outside the function again, you can’t use them or reference them anymore.

In [24]:
def area_of_circle(radius):
    area = 3.14 * radius * radius
    return area

print(area)

NameError: name 'area' is not defined

In [25]:
def area_of_circle(radius):
    area = 3.14 * radius * radius
    return area

print(radius)

NameError: name 'radius' is not defined

We can only use parameters and variables created inside a function when we are in that function (i.e., executing a line that is in the body of that function). Once we have "left" the function (or returned to the line from which it was called), those names are no longer defined.

## 16. Putting an '=' sign after a keyword

We get an error if we try to put an '=' after a keyword (like def or return):

In [26]:
def = area_of_circle(radius):
    area = 3.14 * radius * radius
    return area

SyntaxError: invalid syntax (1652898640.py, line 1)

In [27]:
def area_of_circle(radius):
    area = 3.14 * radius * radius
    return = area

SyntaxError: invalid syntax (187177686.py, line 3)

This is because the single '=' only means one thing in Python: assigning a value (to the right of the '=') to a variable (to the left of the '='). In the lines above, Python would think you are trying to assign a value to a new variable named def in the first example, or return in the second example. However, recall from Ch. 1 that we can't have variable names that are keywords. Therefore, we get a syntax error.

Thankfully, the solution is simple: remove the '='!

In [29]:
def area_of_circle(radius):
    area = 3.14 * radius * radius
    return area

print(area_of_circle(4))

50.24

## 17. Keywords and Function/Variable Names are Case-Sensitive

Python keywords are all lowercase, and by convention, we also typically name our variables and functions in all lowercase (although this isn't required). If we capitalize a keyword, we'll likely get a Syntax error:

In [1]:
def area_of_circle(radius):
    area = 3.14 * radius * radius
    Return area

SyntaxError: invalid syntax (669440725.py, line 3)

The error in the program above occurs *after* the capitalized keyword. This is because Python assumes that capital-R *Return* must be a variable, and this is not a valid structure to have a variable next to another variable, area.

In [2]:
weather = input("How is the weather?")

if weather != "Rainy":
    print("Remember to water the garden")
Else:
    print("No need to water today")

SyntaxError: invalid syntax (91156896.py, line 5)

In this program, Python similarly assumes that capital-E "Else" must be a variable, and it's invalid structure to have a variable followed by a colon.

In [4]:
weather = input("How is the weather?")

if weather != "Rainy":
    Print("Remember to water the garden")
else:
    Print("No need to water today")

How is the weather?Sunny

NameError: name 'Print' is not defined

Similarly, function and variable names are also case-sensitive. We see above that Python doesn't know what "Print" is -- only print.

All of the above issues go away when we simply make sure these are capitalized correctly:

In [6]:
def area_of_circle(radius):
    area = 3.14 * radius * radius
    return area

In [7]:
weather = input("How is the weather?")

if weather != "Rainy":
    print("Remember to water the garden")
else:
    print("No need to water today")

How is the weather?Sunny
Remember to water the garden

## 18. If and Elif must specify conditions, Else must *not*

The logic of a simple if/else statement is based off of one condition (specified after the if). It is essentially if *this condition is true*, do something. Else, do something else. Notice that in an if/else, *one* of these blocks of code always executes, because a condition (as we define them in Python, not necessarily in life) will always be either True or False. Never both, and never neither. This is also emphasized in the design of the Boolean variable with only two possible values: True or False.
    
Thus, if we try to have an if/else statement where we don't specify a condition after the *if*, then Python is left asking "If what?!", and gives us a syntax error. In contrast, if we try to specify a condition after an *else*, we also get an error -- Python says "I already know under what conditions to execute this code: it's when the condition after my corresponding *if* is False!". See the examples below illustrating this:

In [8]:
if:
    print("Executing the if")
else:
    print("Executing the else")

SyntaxError: invalid syntax (3917843400.py, line 1)

In [9]:
total_cost = 99

if total_cost > 100:
    print("Executing the if")
else total cost <= 100:
    print("Executing the else")

SyntaxError: invalid syntax (651591469.py, line 5)

And this fixes the issue:

In [10]:
total_cost = 99

if total_cost > 100:
    print("Executing the if")
else:
    print("Executing the else")

Executing the else

We can think of *elif* as having the same requirements as the *if* in terms of requiring a condition after it (or else Python will be left asking the same question: "Else if what?"). Like the else, it must have a corresponding *if* above it at the same indentation, or it doesn't make sense by itself.

In [11]:
total_cost = 99

if total_cost > 100:
    print("Executing the if")
elif:
    print("Executing the first elif")
elif:
    print("Executing the second elif")
else:
    print("Executing the else")

SyntaxError: invalid syntax (2037347234.py, line 5)

This program only works when we add the conditions for each elif:

In [12]:
total_cost = 99

if total_cost > 100:
    print("Executing the if")
elif total_cost > 75:
    print("Executing the first elif")
elif total_cost > 50:
    print("Executing the second elif")
else:
    print("Executing the else")

Executing the first elif

## 19. = vs. ==

The single = is the assignment operator. It is used to assign a value (on its right side) to a variable (whose name is to its left). That’s it! It’s **never** used to check whether two things are equal like it is used in mathematics, and everywhere else you’ve seen it before. To check whether two things are equal in Python, we put the double == between two values or expressions. If you accidentally mix up the two, you’ll likely get an error that looks like the following:

In [13]:
x = 10
y = 5

if x = y*2:
    print("x is double the value of y")

SyntaxError: invalid syntax (2763386585.py, line 4)

In the above example, the programmer meant to check if the value of x was equal to double that of y as the condition for the if statement. However, a syntax error occurs because an if statement is expecting a condition (an expression that evaluates to a Boolean value of True/False) – you can’t assign a variable here.

In [14]:
x == 10
y == 5

if x == y*2:
    print("x is double the value of y")

NameError: name 'x' is not defined

Above, the programmer meant to assign the value 10 to a new variable x, but Python interpreted this line as asking whether or not the value of a variable x (which is not defined yet) is equal to 10.

The correct version of this program below illustrates the difference between = and ==:

In [15]:
x = 10
y = 5

if x == y*2:
    print("x is double the value of y")

x is double the value of y

## 20. Comma Concatenation can Only be Used inside print()

Concatenating strings must be done using a plus sign, unless it is happening inside a call to print() in which case either works. See below:

In [16]:
amount = 9.0
print("Total: ", amount)

Total:  9.0

In [17]:
amount = 9.0
print("Total: " + str(amount))

Total: 9.0

We can see above that we can use either + or , to concatenate inside a print() statement. However, if we want to combine two strings into one variable, it's a different story:

In [19]:
amount = 9.0
output_string = "Total: ", amount
print(output_string)

('Total: ', 9.0)

This did *not* concatenate the two values above, but instead created a new tuple (we learn about this datatype later in the course) with the two values.

In [20]:
amount = 9.0
output_string = "Total: " + amount
print(output_string)

TypeError: can only concatenate str (not "float") to str

In [21]:
amount = 9.0
output_string = "Total: " + str(amount)
print(output_string)

Total: 9.0

As we can see above, the way to get to our desired result is using the + to concatenate, remembering to convert all non-string values to strings using str() for type conversion.

## 21. Invalid character '≤' (U+2264)

If we try to use a character that python doesn't recognize (usually a mathematical symbol), like ≤ or √, we'll get this error:

In [22]:
x = 5
y = 8

if x ≤ y:
    print("Lower")
else:
    print("Higher")

SyntaxError: invalid character '≤' (U+2264) (3547853289.py, line 4)

We can correct this by using the Python equivalent for these characters (if you aren't sure what the equivalent is, ask on the discussion board!). For example, our set of relational operators defines less than or equal to as <=, and greater than or equal to as >=.

In [23]:
x = 5
y = 8

if x <= y:
    print("Lower")
else:
    print("Higher")

Lower

## 22. Relational Operator Syntax

We have six relational operators that we can use to compare two values. There are syntax rules around using these: our expressions using relational operators must be structured with *one* relational operator between *two* values (or expressions that evaluate to one value).

In [24]:
x = 9

if x == <10:
    print("Single digit")

SyntaxError: invalid syntax (4005696790.py, line 3)

In line 3 of the code above, we may be tempted to read this as "if x is less than 10", with the "is" being the == relational operator. However, we get a syntax error as soon as python sees two relational operators in a row. The corrected way to translate this is as follows:

In [25]:
x = 9

# If x is less than 10
if x <10:
    print("Single digit")

# If x is equal to 10
if x == 10:
    print("Ten")

Single digit

## 23. Can not return outside of a function

The return keyword can only be used inside of a function when we want to "leave" and return to the place where we had called the function. If we try to use return when we are not currently in a function, we get an error -- Python doesn't know where you want to return to!

In [8]:
temp = 19

if temp < 32:
    return "Freezing!"

SyntaxError: 'return' outside function (271703180.py, line 4)

In the case above, we probably just want to print the result:

In [9]:
temp = 19

if temp < 32:
    print("Freezing!")

Freezing!

However, we could also define a function that would return the value:

In [11]:
my_temp = 19

def detect_freezing(temp):
    if temp < 32:
        return "Freezing!"

result = detect_freezing(my_temp)
print(result)

Freezing!

## 24. Using a Function Name, not a Function Call

To use a function, we need to call it. A function call consists of several parts: first the function name, then parentheses, and any arguments inside those parentheses. 

If we leave out components of the function call, such as in the example below where only the function name is given (in line 5), this can cause issues. The value associated with the function name is the function itself, whereas what we usually want is the result of a call to the function (the return value). 

Here, the error appears when we try to subtract the value of the variable user_yob (which we assigned to the function itself) from an integer. Python tells us in the error message: I don't know how to subtract a function from an integer!

In [14]:
def get_yob():
    year = int(input("Enter year of birth: "))
    return year

user_yob = get_yob
age = 2023 - user_yob

print("Age:", age)

TypeError: unsupported operand type(s) for -: 'int' and 'function'

We can resolve this by adding the other necessary components of the function call -- in this case, just parentheses, since the function has no parameters.

In [15]:
# Solution
def get_yob():
    year = int(input("Enter year of birth: "))
    return year

user_yob = get_yob()
age = 2023 - user_yob

print("Age:", age)

Enter year of birth: 1956
Age: 67

Though no error, a strange thing also happens when we try to print a function (using just its name), instead of a function call:

In [42]:
def area_of_triangle(base, height):
    area = 0.5 * base * height
    return area

print(area_of_triangle)

<function area_of_triangle at 0x103bb64c0>

This is not an error! Python is simply doing exactly what we asked it to do. Recall that in our memory diagrams, we add functions to the global frame like variables, and their values are actually pointers to an address where their information is stored (we draw an arrow to objects to represent this). So, when we ask Python to print the value of a function, it is actually printing this value: it literally says "My value is a function called area_of_triangle at this address in memory" (note that 0x103bb64c0 is an address in memory written in hex notation, which is a shortened way of representing 32 0s and 1s).

Likely, you meant to print the result of calling your function, not its value like we see above:

In [43]:
# Solution
def area_of_triangle(base, height):
    area = 0.5 * base * height
    return area

print(area_of_triangle(5,7))

17.5

Note that even if our function has 0 parameters, we still need the parentheses to indicate that it is a function call:

In [44]:
def greeting():
    return "Good morning!"

print(greeting)

<function greeting at 0x103bb6ca0>

In [45]:
def greeting():
    return "Good morning!"

print(greeting())

Good morning!

## 25. Doing type conversion too late

When getting a number from the user as input (which comes in as a String), the input value must be converted to a number *before* it can be used like a number. See the following errors that can occur:

In [5]:
# Example 1
number = input("Enter a number: ")
multiplied = int(number * 3)
print(multiplied)

Enter a number: 4
444

What we wanted to do in the program above was multiply the number 4, not the string "4". So, we have to do type conversion from string "4" to int 4 before it is multiplied. Either of the following work:

In [6]:
# Example 1 Solution A
number = int(input("Enter a number: "))
multiplied = number * 3
print(multiplied)

Enter a number: 4
12

In [7]:
# Example 1 Solution B
number = input("Enter a number: ")
multiplied = int(number) * 3
print(multiplied)

Enter a number: 4
12

The program will result in an error if we had made this mistake and tried to use an operand that is incompatible with the input in it's string form:

In [8]:
# Example 2
num1 = input("Enter a number: ")
num2 = input("Enter another number: ")
subtracted = int(num1 - num2)

Enter a number: 8
Enter another number: 3

TypeError: unsupported operand type(s) for -: 'str' and 'str'

The error message is telling us that subtraction is an unsupported operator for two strings (num1 and num2 are still strings at the time we try to subtract them). We can fix this as follows:

In [10]:
# Example 2 Solution A
num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
subtracted = num1 - num2
print(subtracted)

Enter a number: 8
Enter another number: 3
5

In [11]:
# Example 2 Solution B
num1 = input("Enter a number: ")
num2 = input("Enter another number: ")
subtracted = int(num1) - int(num2)
print(subtracted)

Enter a number: 8
Enter another number: 3
5

## 26. Missing colon

We need to put colons at the ends of certain types of instructions (and *only* these ones): Function definitions (starting with def), and if/elif/else. If we forget to put the colon, we get a Syntax error:

In [34]:
def area_of_triangle(base, height)
    area = 0.5 * base * height
    return area

print(area_of_triangle(5,7))

SyntaxError: invalid syntax (615496331.py, line 1)

In [35]:
# Solution
def area_of_triangle(base, height):
    area = 0.5 * base * height
    return area

print(area_of_triangle(5,7))

17.5

In [40]:
answer = input("Would you like to hear the weather? ")

if answer == "Yes"
    print("It's sunny today")
elif answer == "No"
    print("Okay, no problem.")
else
    print("Sorry, I only understand Yes or No")

SyntaxError: invalid syntax (4108774024.py, line 3)

In [41]:
# Solution
answer = input("Would you like to hear the weather? ")

if answer == "Yes":
    print("It's sunny today")
elif answer == "No":
    print("Okay, no problem.")
else:
    print("Sorry, I only understand Yes or No")

Would you like to hear the weather? Maybe
Sorry, I only understand Yes or No

## 27. >= and <=

If you're here, congratulations! You've found one of the easiest fixes. Python is picky about the order in which we have our < and = when we want to use the "less than or equal to" relational operator (or greater than or equal to). If we put the = first, we'll get a Syntax error:

In [32]:
x = 10
y = 5

if x => y:
    print("Yes")
    
if x =< y:
    print("No")

SyntaxError: invalid syntax (237542540.py, line 4)

We fix this by making sure the < or > comes before the =:

In [33]:
x = 10
y = 5

if x >= y:
    print("Yes")
    
if x <= y:
    print("No")

Yes

## 28. Unexpected Indentation

Indentation means something very specific in Python, and changes the way a program works. We indent the lines of code that we want inside a function, if/elif/else statement, or loop. If we indent a line of code somewhere that doesn't make sense (such as after a variable assignment), we get an “Unexpected Indentation” error:

In [12]:
age = 10
    print("You are", age, "years old.")

IndentationError: unexpected indent (1119623550.py, line 2)

Removing the unexpected indentation solves the issue:

In [13]:
age = 10
print("You are", age, "years old.")

You are 10 years old.

## 29. Unexpected Colon

Similar to indentation (the error above, #28), we can *only* put colons after function definitions, if/elif/else, and loops. If we have them anywhere else (for example, after a function call), we get a syntax error:

In [15]:
# Example 1
def greeting(name):
    print("Hello, " + name)

greeting("Emma"):

SyntaxError: invalid syntax (2453610789.py, line 4)

In [16]:
# Solution
def greeting(name):
    print("Hello, " + name)

greeting("Emma")

Hello, Emma

In [17]:
# Example 2
x = 10:

SyntaxError: invalid syntax (1724818068.py, line 2)

In [18]:
# Solution
x = 10

## 30. Boolean operators “and” and “or” treat expressions on either side as two separate conditional expressions

The boolean operators "and" and "or" create a dividing line between the expressions on either side of them, which they treat as completely separate when they go to evaluate if one or both of them are True. Thus, while the following expression makes sense in English, it doesn't make sense to Python:

In [1]:
temp = 19

if temp < 32 or > 100:
    print("Extreme weather! Take caution")

SyntaxError: invalid syntax (4248488892.py, line 3)

We get an invalid syntax error because the expression > 100 by itself doesn't make sense: relational operators like > need a value on either side to compare. We need to explicitly give that value on both sides like this:

In [2]:
temp = 19

if temp < 32 or temp > 100:
    print("Extreme weather! Take caution")

Extreme weather! Take caution

Now consider the example below, where a programmer wants to check if the user entered a valid answer, either “Yes” or “No”.

In [3]:
answer = input("Enter Yes or No: ")

if answer != "Yes" or "No":
    print("Not a valid answer.")
else:
    print("Thank you!")

Enter Yes or No: No
Not a valid answer.

The programmer writes line 2 meaning to say: **If answer is not equal to “Yes” or “No”**, then execute line 3 (which tells the user that their answer was invalid). However, we see that when the user entered “No”, which should be a valid answer, the conditional expression of the if statement on line 2 must have evaluated to True since the print statement on line 3 executed. 

This is because instead of interpreting line 2 as the programmer intended, Python reads line 2 as **If (answer != “Yes”) or (“No”)**

Since the user entered “No”, we replace answer with its assigned value:

**If (“No” != “Yes”) or (“No”)**

The left expression simplifies to False, since “No” != “Yes”. Now, we are left with:

**If (False) or (“No”)**

Importantly, Python treats the value “No” here as a boolean because it is the expression on the right side of a boolean operator. Python has specific rules for whether to evaluate values of other data types to True or False:

- Strings: True, unless it is the empty string (“”)
- Ints/Floats: True, unless it is 0
- Tuples/Lists/Sets: True, unless they are empty
	
Therefore, Python evaluates “No” to True, since it is not an empty string. So, we are left with:

**If (False) or (True)**

Which finally results in True. That's why we got the unexpected result of the program telling us our answer was invalid, even though we entered a valid answer.

We can fix the example above to work like the programmer intended by changing the if statement to the following:

In [4]:
answer = input("Enter Yes or No: ")

if answer != "Yes" and answer != "No":
    print("Not a valid answer.")
else:
    print("Thank you!")

Enter Yes or No: No
Thank you!

## 31. Adding a new line

We can insert a new line (like hitting the enter key when typing) into strings in Python using the following special character: \n. However, this has to be a string itself -- see the following scenario:

In [16]:
multiline = "Hello" + \n + "How are you?"
print(multiline)

SyntaxError: unexpected character after line continuation character (850514556.py, line 1)

We can fix this in either of the following ways:

In [17]:
multiline = "Hello" + "\n" + "How are you?"
print(multiline)

Hello
How are you?

In [18]:
multiline = "Hello\nHow are you?"
print(multiline)

Hello
How are you?

And we can also do this inside a print statement:

In [19]:
print("Hello\nHow are you?")

Hello
How are you?

 ## 32. Putting an = sign after a keyword

We'll get an error if we put an = after a keyword where it's not supposed to be. See the following examples with various keywords and solutions:

In [20]:
def = area_of_triangle(base, height):
    return base*height*0.5

print(area_of_triangle(5,7))

SyntaxError: invalid syntax (606211532.py, line 1)

In [22]:
#Solution: remove = after def
def area_of_triangle(base, height):
    return base*height*0.5

print(area_of_triangle(5,7))

17.5

In [23]:
def area_of_triangle(base, height):
    return = base*height*0.5

print(area_of_triangle(5,7))

SyntaxError: invalid syntax (2831947421.py, line 2)

In [24]:
# Solution: remove = after return
def area_of_triangle(base, height):
    return base*height*0.5

print(area_of_triangle(5,7))

17.5

In [25]:
temp = 19

if = temp < 32:
    print("Freezing!")
elif = temp > 100:
    print("Burning!")
else:
    "Fine weather."

SyntaxError: invalid syntax (2549582299.py, line 3)

In [26]:
# Solution: no = after if/elif/else
if temp < 32:
    print("Freezing!")
elif temp > 100:
    print("Burning!")
else:
    "Fine weather."

Freezing!

In summary, recall that the **only** time we use the =, also called "the assignment operator", is when we are assigning a value to a variable. That's it!

## 33. Elif or Else without an If

Having an elif or an else without an if before it will cause an error. This makes sense logically (especially when we read elif as "else if"): if there is no if first, Python doesn't know what you mean be "else". See the examples below:

In [2]:
temp = 16

if temp < 32:
    print("Freezing!")

Freezing!

In [3]:
temp = 16

elif temp < 32:
    print("Freezing!")

SyntaxError: invalid syntax (3488247737.py, line 3)

In [4]:
temp = 16

else:
    print("Freezing!")

SyntaxError: invalid syntax (746095839.py, line 3)

We see in the program above that if works by itself, but elif and else do not. To get rid of the errors, we need to make sure elif and else have a preceding if:

In [5]:
temp = 16

if temp >= 32:
    print("Not freezing")
elif temp < 32:
    print("Freezing!")

Freezing!

In [6]:
temp = 16

if temp >= 32:
    print("Not freezing")
else:
    print("Freezing!")

Freezing!

## 34. Cannot compare different data types

We can run into errors like the one below if we try to use relational operators like > or < to compare values of different data types. For example, the error below tells us that the > operator is not supported between a string and an integer. In other words, Python doesn't know how to tell if a string value is greater than a numerical value -- to Python, trying to compare "7" to 5 is like apples and oranges (even though to us, it's pretty obvious).

In [1]:
num = input("Enter a number between 1 and 5: ")

if num > 5:
    print("The number may not be greater than 5")

Enter a number between 1 and 5: 7

TypeError: '>' not supported between instances of 'str' and 'int'

It is easy to make this mistake when asking the user for numerical input, like in the program below. The built-in input function always returns a string, so if we want the input to be treated as a number, we have to explicitly convert the value to a numerical datatype using type conversion.

Note that either of the two following solutions fix the problem:

In [4]:
# Solution A: Convert to numerical data type right away, and store value as a number

num = float(input("Enter a number between 1 and 5: "))

if num > 5:
    print("The number may not be greater than 5")

Enter a number between 1 and 5: 7
The number may not be greater than 5

In [5]:
# Solution B: Convert to numerical data type only when we want it to be treated as a number (in line 5)

num = input("Enter a number between 1 and 5: ")

if float(num) > 5:
    print("The number may not be greater than 5")

Enter a number between 1 and 5: 7
The number may not be greater than 5

## 35. Using parameter names as arguments in a function call if not yet defined in global frame

Arguments to a function must be:
- A) actual values (i.e. “hello”, 8, or 5.7)
- B) variables that already exist in the global frame which hold the values to be used as arguments
- C) expressions that evaluate to a value using a combination of A and/or B above

Unless the parameter names are also names of variables defined in the global frame, they can not be used as arguments:

In [6]:
def area_of_circle(radius):
    area = radius ** 2 * 3.14
    return area

print(area_of_circle(radius))

NameError: name 'radius' is not defined

While it works to use variables defined in the global frame with the same name as parameters, this can get confusing:

In [9]:
radius = 8

def area_of_circle(radius):
    area = radius ** 2 * 3.14
    return area

print(area_of_circle(radius))

200.96

In the example below, we can see that inside a function, the argument passed to the parameter takes priority over a variable of the same name in the global frame.

In [12]:
radius = 8
print("Value of radius in line 2:", radius)

def area_of_circle(radius):
    print("Value of radius in line 5:", radius)
    area = radius ** 2 * 3.14
    return area

print(area_of_circle(20))

Value of radius in line 2: 8
Value of radius in line 5: 20
1256.0

We usually want to avoid this confusion altogether by making sure our variable names and parameter names are unique, like this:

In [13]:
my_radius = 8

def area_of_circle(radius):
    area = radius ** 2 * 3.14
    return area

print(area_of_circle(my_radius))

200.96

## 36. Unused parameters

While this does not necessarily result in an error message, we overcomplicate code by having parameters to a function that aren’t actually used or needed. Furthermore, our function loses its ability to adapt to different inputs. For example, in the example below, we reference variables in the global frame inside of the function instead of the function parameters. This means that any arguments originally passed to the parameters in the function call are not actually used. See below:

In [17]:
my_radius = 1

def area_of_circle(radius):
    area = my_radius ** 2 * 3.14
    return area

print(area_of_circle(100))

3.14

As we see above, the input value 100 is never used, since we use the global variable my_radius in the calculations inside the function. This renders having inputs at all useless, and our function only prints out one answer no matter what input we give it. Instead, we want this:

In [19]:
my_radius = 1
some_other_radius = 100

def area_of_circle(radius):
    area = radius ** 2 * 3.14
    return area

print(area_of_circle(some_other_radius))

31400.0